= nested_form_for @member do |f|
  -if @member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@member.errors.count, "error")} prohibited this member from being saved:"
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :ic_number, "I/C Number"
    = f.text_field :ic_number
  .field
    = f.label :doj, "D.O.J"
    = f.text_field :doj
  .field
    = f.label :donation
    = f.text_field :donation
  .field
    = f.label :hand_phone
    = f.text_field :hand_phone
  = fields_for @member.address do |af|
    .field
      = af.label :line1, "Addr Line 1"
      = af.text_field :line1
    .field
      = af.label :line2, "Addr Line 2"
      = af.text_field :line2
    .field
      = af.label :postcode
      = af.text_field :postcode
  = f.fields_for :family_members do |ff|
    .field
      = ff.label :name, "Pintar Plus"
      = ff.text_field :name
      = ff.link_to_remove "Remove"
  = f.link_to_add "Add Pintar", :family_members
  .actions
  = f.submit 'Save'
