%hr
= simple_nested_form_for member, :html => { :class => 'form-horizontal' } do |f|
  -if member.errors.any?
    #error_explanation
      %h2.alert.alert-error= "#{pluralize(member.errors.count, "error")} prohibited this member from being saved"

  = f.input :name
  = f.input :ic_number, :label =>'I/C Number'
  = f.input :doj, :value => l(member.doj), :as => :string
  = f.input :donation, :as => :string
  = f.input :hand_phone
  = f.input :home_phone
  = simple_fields_for member.address do |af|
    = af.input :line1, :label =>'Addr Line 1'
    = af.input :line2, :label=>'Addr Line 2'
    = af.input :postcode
    = f.input :remarks, :input_html =>{:size => "70x12"}, :as => :text
  = f.simple_fields_for :family_members do |ff|
    .row
      .span4
        = ff.input :name, :label => 'Pintar Plus'
      .span1.btn.btn-small
        = ff.link_to_remove "Remove"
  = f.link_to_add "Add Pintar", :family_members
  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
