%h1 Listing members

= link_to 'Add New Member', new_member_path

%table
  %tr
    %th Name
    %th Ic number
    %th Phone
    %th Donation
    %th
    %th
    %th

  - @members.each do |member|
    %tr
      %td= member.name
      %td= member.ic_number
      %td= member.phone
      %td= member.donation
      %td= link_to 'Show', member
      %td= link_to 'Edit', edit_member_path(member)
      %td= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete


