%p#notice= notice

%p
  %b Name:
  = @member.name
%p
  %b Ic number:
  = @member.ic_number
%p
  %b D.O.J:
  = l @member.doj
%p
  %b Donation:
  = @member.donation
%p
  %b Phone:
  = @member.phone
%p
  %b Address:
  = @member.address.line1
  = @member.address.line2
  = @member.address.postcode
%p
  %b Family Members:
  = @member.family_members.map(&:name).join(",")

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path
